@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

*{
	margin:0px;
	padding:0px;
}

body{

}

.topnavbar{
	font-family: 'Helvetica';
	padding:10px;
	margin: 5px;
	text-align: center;
}

.topnavbar a:link{
	text-decoration: none;
	color: black;
}


.topnavbar a:visited{
	color:black;
}

.nav{
	margin-top:10px;
	font-size:12px;
	font-family: "'Droid Serif', serif;";
	font-style: italic;
	margin-left: 10px;
}
.topnavbar a:hover{
	color:#34495e;
}

.content{
}

.navlogos{
	height:15px;
	width:15px;
	opacity: .5;
}

.navlogos:hover{
	opacity: 1;
}

.sociallinks{
	margin-top:10px;
	text-align: center;
}

.title{
	padding-top:15px;
	padding-bottom:15px;
	font-size:30px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width:1px;
	border-color: #7f8c8d;
	font-weight:bold;
}

.page-heading{
	font-weight: bold;
}

.default-list{
	list-style-type: none;
	font-size:12px;
}
.default-list a:link{
	text-decoration: none;
	color: black;
}
.default-list a:visited{
	color:black;
}
.default-list a:hover{
	color:#34495e;
}
.frontposts{
	width:50%;
	margin-left:25%;
	padding: 10px;
	border-top-style:dashed;
	border-top-width: 1px;
	border-top-color: #95a5a6;
}
.frontpost-title{
	font-size:20px;
	font-weight: bold;
}
.frontpost-rm{
	font-style: italic;

}
.post{
	font-family: "'Droid Serif', serif;";
	font-size: 12px;
	width:50%;
	margin-left:25%;
}

.post a:link{
	text-decoration: none;
	color:black;
}
.post a:hover{
	color:#34495e;
}

.post a:visited{
	color:black;
}

.post-header{
	font-weight: bold;
}

.home{
	margin-top:5px;
	padding:10px;
	text-align: center;
}
.postindex{
	text-align: center;
}