@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

*{
	margin:0px;
	padding:0px;
}

.leftnavbar{
	float:left;
	margin-left:20px;
	margin-top:20px;
	width: 170px;
	font-family: 'Helvetica';
}

.leftnavbar a:link{
	text-decoration: none;
	color: black;
}


.leftnavbar a:visited{
	color:black;
}

.nav{
	margin-top:10px;
	font-size:12px;
	font-family: "'Droid Serif', serif;";
	font-style: italic;
}
.nav a:hover{
	color:#34495e;
}

.content{
	float:left;
	margin-top:20px;
	margin-left:20px;
	width:60%;
}

.navlogos{
	height:15px;
	width:15px;
	opacity: .5;
}

.navlogos:hover{
	opacity: 1;
}

.sociallinks{
	margin-top:10px;
}

.title{
	padding-top:15px;
	padding-bottom:15px;
	font-size:30px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width:1px;
	border-color: #7f8c8d;
	font-weight:bold;
}

.page-heading{
	font-weight: bold;
}

.default-list{
	list-style-type: none;
	font-size:12px;
}
.default-list a:link{
	text-decoration: none;
	color: black;
}
.default-list a:visited{
	color:black;
}
.default-list a:hover{
	color:#34495e;
}

.post{
	font-family: "'Droid Serif', serif;";
	font-size: 12px;
	border-top-style:solid;
	border-top-width: 1px;
	border-color: #7f8c8d;
	padding-top: 15px;
}

.post a:link{
	text-decoration: none;
	color:black;
}
.post a:hover{
	color:#34495e;
}

.post a:visited{
	color:black;
}

.post-header{
	font-weight: bold;
}

.projectimg{
	height:200px;
	width:200px;
}
.entry{
	float:left;
	padding:5px;
}

.entry a:link{
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.entry a:hover{
	opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.entry-text{
	text-align: center;
	border-top-style:solid;
	border-top-width: 1px;
	border-color: #7f8c8d;
	font-style: italic;
}

.projects{
	margin-top: -5px;
	font-size:12px;
}

.notice{
	font-size: 12px;
	border-top-style:solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #7f8c8d;
	margin-bottom: 10px;
	font-style: italic;
}

.notice a:link{
	color: black;
	text-decoration: none;
}
.notice a:visited{
	color:black;
}

.notice a:hover{
	color:#34495e;
}
