<div class="rightnavbar">
	<div class="rightnav-title">
		 <img class="rightnav-profpic" src="/pictures/hp.png">
		 <div class="sociallinks">
			<a href="https://instagram.com/{{ site.instagram }}"><img class="navlogos" src="/logos/insta.png"></a>
			
			<a href="https://youtube.com/{{ site.youtube }}"><img class="navlogos" src="/logos/yt.png"></a>

			<a href="mailto:{{site.email}}"><img class="navlogos" src="/logos/email.png"></a>
		</div>
		 <div class="rightnav-aboutme">about me placeholder</div>
	</div>

	<div class="rightnav-info">
		<div class="rightnav-guide">email list placeholder</div>
		<div class="rightnav-guide">
			<img class="rightnav-pic" src="/pictures/gthe.png">
		</div>
		<div class="rightnav-guide">
			<img class="rightnav-pic" src="/pictures/life.jpg">
		</div>
		<div class="rightnav-guide">
		<img class="rightnav-pic" src="/pictures/wo.jpg">
		</div>
    </div>

</div>